<!-- <div id="main-container" style="text-align:center">
<div *ngFor="let user of listOfUserName;">
    <button (click)=onClickUserButton(user)>{{user}}</button>
</div>
 
    <div class="container">
      <h2>Hello {{loggedInUser}}!</h2>
      <form (ngSubmit)="onSendMessage()" #chatForm="ngForm">
        <div>
          <label for="message">Message</label>
          <input type="text" id="message" name="message" [(ngModel)]="message" required>
        </div>
        <button type="submit" id="sendmessage" [disabled]="!chatForm.valid">
          Send
        </button>
      </form>
    </div>
  
    <div class="container" *ngIf="receivedMessages.length > 0">
      <div *ngFor="let message of receivedMessages">
        <span>{{message.sender}} : {{message.text}}</span>
      </div>
    </div>
  
  </div> -->







		<div class="container-fluid h-100" style="background-color: #78838e;">
			<div class="row justify-content-center h-100">
				<div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
					<div class="card-header">
						<div class="input-group">
							<input type="text" placeholder="Search..." name="" class="form-control search">
							<div class="input-group-prepend">
								<span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
							</div>
						</div>
					</div>
					<div class="card-body contacts_body">
						<ul class="contacts">
                <li *ngFor="let user of listofUserWithUnreadMessage;" (click)=onClickUserButton(user) style="cursor: pointer">
                    <div class="d-flex bd-highlight">
                      <!-- <div class="img_cont">
                        <img src="https://www.khaama.com/wp-content/uploads/2019/02/Afghan-Singer-Ghawgha-Taban-880x672-880x672.jpg" class="rounded-circle user_img">
                        <span class="online_icon"></span>
                      </div> -->
                      <div class="user_info" *ngIf="user.unreadMessage != 0 ">
                        <span>{{user.name}}  {{user.unreadMessage}}</span>
					  </div>
					  <div class="user_info" *ngIf="user.unreadMessage == 0">
                        <span>{{user.name}}</span>
                      </div>
                    </div>
                  </li>
                  <li>
							
						
						
						<!-- <li>
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://www.freshmorningquotes.com/wp-content/uploads/2015/11/cute-and-beautifull-girls-profile-pictures.jpg" class="rounded-circle user_img">
									<span class="online_icon offline"></span>
								</div>
								<div class="user_info">
									<span>Khadija Mehr</span>
									<p>Khadija left 50 mins ago</p>
								</div>
							</div>
						</li> -->
						</ul>
					</div>
					<div class="card-footer"></div>
				</div></div>
				<div class="col-md-8 col-xl-6 chat" *ngIf="messageBoxToggle">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<!-- <div class="img_cont">
									<img src="https://www.khaama.com/wp-content/uploads/2019/02/Afghan-Singer-Ghawgha-Taban-880x672-880x672.jpg" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div> -->
								<div class="user_info">
									<span>Chat</span>
									<!-- <p>1767 Messages</p> -->
								</div>
								<div class="video_cam">
									<span><i class="fas fa-video"></i></span>
									<span><i class="fas fa-phone"></i></span>
								</div>
							</div>
							<span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
							<div class="action_menu">
								<ul>
									<li><i class="fas fa-user-circle"></i> View profile</li>
									<li><i class="fas fa-users"></i> Add to close friends</li>
									<li><i class="fas fa-plus"></i> Add to group</li>
									<li><i class="fas fa-ban"></i> Block</li>
								</ul>
							</div>
						</div>
						<div class="card-body msg_card_body">
			<div *ngIf="receivedMessages.length > 0">
				<div class="d-flex justify-content-start mb-4" *ngFor="let message of receivedMessages">
					<div *ngIf="message.sender==loggedInUser">
						<div class="img_cont_msg">
							{{message.sender}}
						</div>
						<div class="msg_cotainer">
							{{message.text}}
							<!-- <span class="msg_time">{{message.timestamp}}</span> -->
						</div>
					</div>
					<div *ngIf="message.sender!=loggedInUser">
						<div class="img_cont_msg">
							{{message.sender}}
						</div>
						<div class="msg_cotainer_send">
							{{message.text}}
							<!-- <span class="msg_time_send">{{message.timestamp | date:'medium'}}</span> -->
						</div>
			
					</div>
				</div>
							<!-- <div class="d-flex justify-content-end mb-4">
								<div class="msg_cotainer_send">
									Hi Maryam i am good tnx how about you?
									<span class="msg_time_send">8:55 AM, Today</span>
								</div>
								<div class="img_cont_msg">
                  image 
								</div>
							</div> -->
				
							
							
							
							</div>
						</div>
						<div class="card-footer">
                <form (ngSubmit)="onSendMessage()" #chatForm="ngForm">
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
								</div>
								<textarea name="message" class="form-control type_msg" placeholder="Type your message..." [(ngModel)]="message"></textarea>
								<div class="input-group-append">
                    <button type="submit" id="sendmessage" [disabled]="!chatForm.valid">Send</button>
                </div>
              </div>
              </form>
						</div>
					</div>
				</div>
			</div>
		</div>

