
<nav class="navbar navbar-dark bg-dark">
    <a  class="navbar-brand text-white">AngularAuth</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a  class="nav-link" routerLink="/adminpanel">Admin Panel</a>
      </li>
    </ul>

    <button class="btn btn-danger my-2 my-sm-0"  (click)="onChatBox()" *ngIf="unreadMessage==0">ChatBox</button>
    <button class="btn btn-danger my-2 my-sm-0"  (click)="onChatBox()" *ngIf="unreadMessage!=0">ChatBox {{unreadMessage}}</button>
    <button class="btn btn-danger my-2 my-sm-0" style="margin-left: 5px;"  (click)="onRegister()" *ngIf="userDetails?.role=='Supervisor'">Register</button>
    <button class="btn btn-danger my-2 my-sm-0" style="margin-left: 5px;" (click)="onLogout()">Logout</button>
</nav>


<div class="row" style="background-color: #92a8ab">
  <div class="col-md-5">
    <div class="card m-5" style="width: 18rem" *ngIf="userDetails">
      <ul class="list-group">
        <li class="list-group-item"><strong>Username : </strong>{{userDetails.userName}}</li>
        <li class="list-group-item"><strong>FullName : </strong>{{userDetails.fullName}}</li>
        <li class="list-group-item"><strong>Email : </strong>{{userDetails.email}}</li>
        <li class="list-group-item"><strong>City : </strong>{{userDetails.city}}</li>
        <li class="list-group-item"><strong>Country : </strong>{{userDetails.country}}</li>        
      </ul>
    </div>
  </div>
  <div class="col-md-7"  *ngIf="register" >
      <div class="card m-5" style="padding: 15px;">
        <div class="card-body">
            <h5>New User Registration</h5>
        </div>
        
          <app-registration></app-registration>
      </div>    
  </div>

  <div class="col-md-7" *ngIf="toggleChatBox" >          
        <app-chatbox></app-chatbox>        
  </div>
</div>
 
