<form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit(formGroup)">

    <div class="form-group ">
        <label>FullName</label>
        <input class="form-control" formControlName="FullName">
    </div>

    <div class="form-group required">
        <label>UserName</label>
        <input class="form-control" formControlName="UserName">
        <label class="text-danger"
            *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">This
            field is mandatory.</label>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" formControlName="Email">
        <label class="text-danger"
            *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Invalid
            Email.</label>

    </div>

    <div formGroupName="Passwords">
        <div class="form-group required">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="Password">
            <label class="text-danger"
                *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">This
                field is mandatory.</label>
            <label class="text-danger"
                *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minimum
                4 character required.</label>
        </div>
        <div class="form-group required">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="ConfirmPassword">
            <label class="text-danger"
                *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This
                field is mandatory.</label>
            <label class="text-danger"
                *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm
                Password doesn't match.</label>
        </div>
    </div>
    <div class="form-group ">
        <label>Role</label>
        <input class="form-control" formControlName="Role">
    </div>
   
    <div class="form-group ">
        <label>City</label>
        <input class="form-control" formControlName="City">
    </div>
    <div class="form-group ">
        <label>Country</label>
        <input class="form-control" formControlName="Country">
    </div>

    <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.formModel.valid">Sign Up</button>
        </div>
    </div>
</form>