<nav class="navbar navbar-dark bg-dark">
    <a  class="navbar-brand text-white">AngularAuth</a>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

            <div class="card card-signin my-5">
                <div class="row">                   
                    <div class="card-body">
                        <h5 class="card-title text-center"><strong>Sign In</strong>
                        </h5>
                     
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>



